.explorer-container {
    border: 0px;
    background-color: gray;
    margin: auto;
    margin-top: 20px;

    // .explorer-canvas {
    //     z-index: 9000;
    //     margin-top: 20px;
    //     // width: 500px;
    //     // height: 500px;
    //     border: 2px solid purple;
    //     background-color: yellow;

    // }
    .static-map-container {
        margin-left: auto;
        padding: 0px;

        
    }

    .explorer-mask {
        margin: 0;
        padding: 0;
        background-color: blue;
        // width: 500px;
        // height: 500px;
        
    }
}