.explorer-container {
    border: 1px solid yellow;
    background-color: gray;
    margin: auto;
    margin-top: 20px;

    .explorer-canvas {
        z-index: 9000;
        margin-top: 20px;
        width: 500px;
        height: 500px;
        border: 2px solid purple;
        background-color: yellow;

    }
    .static-map-container {
        z-index: 0;
        height: 500px;
        width: 500px;
        // position: relative;
        // top: -500px;
    }

    .explorer-mask {
        margin: 0;
        padding: 0;
        background-color: blue;
        width: 500px;
        height: 500px;
        
    }
}